.historia1, .historia2, .historia3, .historia4, .historia5, .historia6,.historia7, .historia8,
.historia9, .historia10, .historia11, .historia12{
    text-align: justify;
    color: black;
    font-family: 'Franklin Gothic Medium';
    font-size: 17px;
}

.mes2{
    display: none;
}

.historia2{
    display: none;
}

.mes3{
    display: none;
}

.historia3{
    display: none;
}

.mes4{
    display: none;
}

.historia4{
    display: none;
}

.mes5{
    display: none;
}

.historia5{
    display: none;
}

.mes6{
    display: none;
}

.historia6{
    display: none;
}

.mes7{
    display: none;
}

.historia7{
    display: none;
}

.mes8{
    display: none;
}

.historia8{
    display: none;
}

.mes9{
    display: none;
}

.historia9{
    display: none;
}

.mes10{
    display: none;
}

.historia10{
    display: none;
}

.mes11{
    display: none;
}

.historia11{
    display: none;
}

.mes12{
    display: none;
}

.historia12{
    display: none;
}
